package components

templ Header() {
	<header class="bg-white shadow-md">
		<div class="container flex items-center justify-center px-4 py-2 mx-auto">
			<!-- Logo or Brand Name -->
			<a href="#" class="text-2xl font-bold text-purple-600">💽</a>
		</div>
	</header>
}
