package on_boarding

import (
	"github.com/Zenk41/simple-file-web/views/components"
	"github.com/Zenk41/simple-file-web/views/layouts"
)

templ Ob1() {
	@layouts.Base() {
		@components.Header()
		
		@components.Footer()
	}
}
