package validates

import ()

templ ValidatePassword(isPasswordValid bool, message string) {
	if isPasswordValid {
		<div id="password-status">
			<span>🍩</span>
		</div>
	} else {
		<div id="password-status">
			<p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oh, snapp!</span> you input the wrong password.</p>
		</div>
	}
}
