package public

import (
	"github.com/Zenk41/simple-file-web/views/components"
	"github.com/Zenk41/simple-file-web/views/layouts"
	"github.com/Zenk41/simple-file-web/models"
)

templ Index(user models.User, component templ.Component) {
	@layouts.Base() {
		@components.Header(user, true)
		if component != nil {
			@component
		}
		@components.Footer()
	}
}
